/*FOOTER*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $fo-color;
}

footer .redes {
    font-size: 1.5rem;

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
        }
    }
}

footer h5 {
    font-size: 2rem;
    margin-left: 1.25rem;
}

@media screen and (max-width: 795px) {
    body {
        max-width: 795px;
    }

    footer {
        position: relative;
        bottom: auto;
        margin-top: auto;

        .redes {
            font-size: 1.5rem;

            ul {
                gap: 1rem;
            }
        }

        h5 {
            font-size: 2rem;
        }
    }
}