/*HEADER*/
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3125rem solid black;

    .titulo-nav {
        font-size: 2.5rem;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: black;
    }

    .nav-list {
        ul {
            list-style: none;
            display: flex;
            gap: 1.25rem;

            .icons-nav {
                width: 2.5rem;
                border: 0.03125rem solid transparent;
                border-radius: 1.5625rem;
                position: relative;

                &:hover {
                    animation: rainbow-border 3s infinite linear;
                }
            }
        }

        #dark-mode {
            background-color: transparent;
            border: none;
            font-size: 1.25rem;
            border: 0.03125rem solid transparent;
            border-radius: 1.25rem;
            position: relative;

            &:hover {
                animation: rainbow-border 3s infinite linear;
            }
        }
    }
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

@media (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.3125rem solid black;
        flex-direction: column;
        align-items: center;

        .nav-list {
            margin-top: 1rem;

            ul {
                gap: 0.5rem;
                align-items: center;

                .icons-nav,
                #dark-mode {
                    margin-top: 0.5rem;
                }
            }
        .titulo-nav {
            font-size: 2.5rem;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            color: black;
        }

            #dark-mode {
                background-color: transparent;
                border: none;
                font-size: 1.25rem;
                border: 0.03125rem solid transparent;
                border-radius: 1.25rem;
                position: relative;

                &:hover {
                    animation: rainbow-border 3s infinite linear;
                }
            }
        
        }
    }
}