/*MAIN*/
a {
    text-decoration: none;
}

#contelItem {
    border: 0.15625rem solid black;
    height: 37.5rem;
    overflow: hidden;

    .item-carrusel {
        border: 0.03125rem solid black;
        height: 100%;
        position: relative;

        .tarjeta-carrusel {
            height: 100%;
        }

        .flechas-carrusel {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.25rem;
            font-size: 1.875rem;
        }
    }

    #tarjeta-carrusel-1,
    #tarjeta-carrusel-2,
    #tarjeta-carrusel-3 {
        background: black;
        display: flex;
        justify-content: center;
    }
}